{% load static%}
{% load picture_tags %}
<footer>
    <div class="container">
        <div class="top_footer">
            <div class="footer_logo">{% render_picture setting.logo_footer alt=setting.title lazy=False decoding="async" %}</div>
            <div>
                <p>{{setting.desc}}</p>
            </div>
            <div>
                <p>
                   {{setting.address}}
                </p>
                <br>
                {% for setting in setting.setting_phone.all %}
                <p><a href="">{{setting.phone}}</a></p>

                {% endfor %}
            </div>
            <div>
                <p>{{setting.schedul}}
                </p>
                <br>
                <p>Выходные дни:</p>
                <p>Cуботта, Воскресенье</p>
            </div>
            <div>
                <a href="{{setting.youtube}}">
                    {% render_static_picture 'assets/icon/Social Icons.svg' alt='' lazy=True decoding="async" %}
                </a>
                <br>
                <a href="{{setting.facebook}}">
                    {% render_static_picture 'assets/icon/Social Icons — копия.svg' alt='' lazy=True decoding="async" %}
                </a>
                <br>
                <a href="{{setting.instagram}}">
                    {% render_static_picture 'assets/icon/Social Icons — копия 2.svg' alt='' lazy=True decoding="async" %}
                </a>
            </div>
        </div>
        <br><br>
        <div class="bottom_footer">

            <div class="bottom_footer_part">
                <h1>Наши партнеры:</h1>
                {% render_static_picture 'assets/images/KHTC-01 2.png' alt='KHTC' lazy=True decoding="async" %}
                {% render_static_picture 'assets/images/Group — копия.png' alt='Partner' lazy=True decoding="async" %}
            </div>
            <div class="bottom_footer_part">
                {% comment %} {% render_static_picture 'assets/images/image 16.png' alt='' lazy=True decoding="async" %}
                {% render_static_picture 'assets/images/image 17.png' alt='' lazy=True decoding="async" %} {% endcomment %}
                {% render_static_picture 'assets/images/Logo_Kyrgyz_State_Medical_Academy.svg' alt='' lazy=True decoding="async" %}
            </div>
        </div>
    </div>
</footer>