{% load static%}
<footer>
    <div class="container">
        <div class="top_footer">
            <div><img src="{% static 'assets/images/лого_белый.png' %}" alt=""></div>
            <div>
                <p>Международная сеть клиник
                    Реацентр Кырыгзстан Лечение
                    детей с задержками развития,нарушениями психической двигательной систем и другими патологиями
                    ЦНС</p>
            </div>
            <div>
                <p>
                    г. Бишкек
                    <br>
                    мкр. Джал-23 д.18/2
                </p>
                <br>
                <p><a href="">
                        +996 704 353737

                    </a></p>
                <p><a href="">
                        +996 552 353737


                    </a></p>
            </div>
            <div>
                <p>Понедельник-Пятница </p>
                <p>08:30 - 17:30
                </p>
                <br>
                <p>Выходные дни:</p>
                <p>Cуботта, Воскресенье</p>
            </div>
            <div>
                <a href="">
                    <img src="{% static 'assets/icon/Social Icons.svg' %}" alt=""> reacenter.bishkek
                </a>
                <br>
                <a href="">
                    <img src="{% static 'assets/icon/Social Icons — копия.svg' %}" alt=""> reacenter.bishkek
                </a>
                <br>
                <a href="">
                    <img src="{% static 'assets/icon/Social Icons — копия 2.svg' %}" alt=""> reacenter.bishkek
                </a>
            </div>
        </div>
        <br><br>
        <div class="bottom_footer">

            <div class="bottom_footer_part">
                <h1>Наши партнеры:</h1>
                <img src="{% static 'assets/images/KHTC-01 2.png' %}" alt="">
                <img src="{% static 'assets/images/Group.png' %}" alt="">
                <img src="{% static 'assets/images/Group — копия.png' %}" alt="">
            </div>
            <div class="bottom_footer_part">
                <img src="{% static 'assets/images/image 16.png' %}" alt="">
                <img src="{% static 'assets/images/image 17.png' %}" alt="">
                <img src="{% static 'assets/images/Logo_Kyrgyz_State_Medical_Academy.svg' %} 2.png' %}" alt="">
            </div>
        </div>
    </div>
</footer>