{% load static%}
<footer>
    <div class="container">
        <div class="top_footer">
            <div><img src="{{setting.logo.url}}" alt=""></div>
            <div>
                <p>{{setting.desc}}</p>
            </div>
            <div>
                <p>
                   {{setting.address}}
                </p>
                <br>
                {% for setting in setting.setting_phone.all %}
                <p><a href="">
                       {{setting.phone}}

                    </a></p>

                {% endfor %}
            </div>
            <div>
                <p>{{setting.schedule}}
                </p>
                <br>
                <p>Выходные дни:</p>
                <p>Cуботта, Воскресенье</p>
            </div>
            <div>
                <a href="{{setting.youtube}}">
                    <img src="{% static 'assets/icon/Social Icons.svg' %}" alt=""> reacenter.bishkek
                </a>
                <br>
                <a href="{{setting.facebook}}">
                    <img src="{% static 'assets/icon/Social Icons — копия.svg' %}" alt=""> reacenter.bishkek
                </a>
                <br>
                <a href="{{setting.instagram}}">
                    <img src="{% static 'assets/icon/Social Icons — копия 2.svg' %}" alt=""> reacenter.bishkek
                </a>
            </div>
        </div>
        <br><br>
        <div class="bottom_footer">

            <div class="bottom_footer_part">
                <h1>Наши партнеры:</h1>
                <img src="{% static 'assets/images/KHTC-01 2.png' %}" alt="">
                <img src="{% static 'assets/images/Group.png' %}" alt="">
                <img src="{% static 'assets/images/Group — копия.png' %}" alt="">
            </div>
            <div class="bottom_footer_part">
                <img src="{% static 'assets/images/image 16.png' %}" alt="">
                <img src="{% static 'assets/images/image 17.png' %}" alt="">
                <img src="{% static 'assets/images/Logo_Kyrgyz_State_Medical_Academy.svg' %} 2.png' %}" alt="">
            </div>
        </div>
    </div>
</footer>