{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реацентр</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/styles/style2.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/styles/swiper.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'assets/styles/service_fixes.css' %}" />

</head>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      new Swiper('.swiper-container-docs', {
        slidesPerView: 1.2,
        spaceBetween: 16,
        grabCursor: true,
        breakpoints: {
          640: { slidesPerView: 1.2 },
          768: { slidesPerView: 2 },
          1024: { slidesPerView: 3 },
        }
      });
    });
  </script>
<body>
    {% block content %}
    {% endblock %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


</html>